<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>The Weeknd</h1>
    <div class = 'links'>
    <a href="/about">About The Weeknd!</a>
    <a href="/works">Work done by him!</a>
    <a href="/photo">Gallery of his work</a>
    </div>

    <div class = 'homeDiv'>
        <h2>What is this about?</h2>
        <p>Welcome to my "first' website made through express!</p>
        <p>I will make a very basic website over the musical genius Abel "The Weeknd" Tesfaye! </p>
    </div>

</body>
</html>